
body {
  font-family: 'Poppins', sans-serif;
   background-image: url(./assets/images/p4.png);
   background-repeat: no-repeat; 
   background-size: cover;
}

button {
  font: inherit;
  background:#8797de;
  color: white;
  border: 1px solid;
  border-radius: 5px;
  cursor: pointer;
}

button:hover,
button:active {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.26);
}

button:focus {
  outline: none;
}

header {
  text-align: center;
  color: white;
}